@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h1>University Registrar</h1>

<a href="/students/add"><button>Add Student</button></a>
<a href="/courses/add"><button>Add Course</button></a>

<a href="/students"><button>See Students</button></a>
<a href="/courses"><button>See Courses</button></a>